<!-- Page Header-->
<%= render "shared/header"%>
<header class="show__header"></header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

  <h2 class="post-title"><%= "인녕하세요! #{current_user.name}님" %></h2>


<!-- Footer-->
<%= render "shared/footer"%>