* {
  box-sizing: border-box;
}

.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 30%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #333333;
  padding: 8px;
}

.search-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.word-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

/* フォーム周り */
/* フォーム全体のスタイル */
.contents {
  padding: 20px;
}

.form__wrapper {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 20px;
  color: #333;
}

/* フォーム項目のスタイル */
.form-item {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

/* 送信ボタンのスタイル */
.form__btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #000000;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.form__btn:hover {
  background-color: #000000;
  cursor: pointer;
}

/* 詳細画面 */
 body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.contents {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.more_list li {
  display: inline;
  margin-right: 10px;
}

.more_list li a {
  color: #999;
  text-decoration: none;
}

.more_list li a:hover {
  text-decoration: underline;
}

.another-item {
  display: block;
  color: #777;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
}

.another-item:hover {
  text-decoration: underline;
}

p, .name {
  font-size: 18px;
  margin-bottom: 10px;
}

audio {
  width: 100%;
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

/* 投稿ボタンのスタイル */
.post-btn {
  width: 120px;
  background: #0085A1;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.post-btn-icon {
  width: 60%;
}


@media (max-width: 767px) {
  .contents {
    padding: 10px;
  }
}

