.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
  background-color: transparent;
}

.search-form .search-input {
  width: 70%;
  height: 5vh;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333333
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #333333;
  padding: 8px;
  border-radius: 0 5px 5px 0;
}

.search-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.word-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

/* フォーム周り */
/* フォーム全体のスタイル */
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw; /* 値を調整してフォームの横幅を変更 */
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* フォーム全体の横幅を調整 */
}


h3 {
  margin-bottom: 20px;
  color: #333;
}

/* フォーム項目のスタイル */
.form-item {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

/* 送信ボタンのスタイル */
.form__btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #000000;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.form__btn:hover {
  background-color: #000000;
  cursor: pointer;
}

/* カテゴリーボタン*/
.category__btns {
  display: flex;
  flex-wrap: wrap;
}

.category__btn {
  flex-basis: calc(25% - 10px);
  background-color: #f9f9f9;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  /* border: 1px solid #000; */
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}


/* 詳細ページ */
.show__header{
  height: 8vh;
  background-color: #000000;
  margin-bottom: 50px;
}

.dialog_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.dialog__wrapper{
  min-height: calc(100vh - 161px);
}
.dialog__hedding{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.translation{
  font-size: 20px;
  text-align: center;
}

.dialog__category{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
  text-decoration: none;
}
.dialog__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.dialog__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.dialog__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.dialog__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.dialog__btn:hover{
  color: #fff;
  background: #999;
}

audio {
  width: 100%;
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

/* 投稿ボタンのスタイル */
.post-btn {
  width: 120px;
  background: #343434;
  text-align: center;
  border-radius: 30%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.post-btn-icon {
  width: 60%;
}


@media (max-width: 767px) {
  .contents {
    padding: 10px;
  }
}

