/* 投稿ボタンのスタイル */
.post-btn {
  width: 100px;
  height: 100px; /* ボタンの高さを幅と同じに設定 */
  background: #343434;
  text-align: center;
  border-radius: 50%; /* 50% で真円になる */
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-sizing: border-box; /* パディングがボタンのサイズに含まれるようにする */
  display: flex;
  flex-direction: column;
  align-items: center; /* 横方向に中央に配置 */
  justify-content: center; /* 縦方向に中央に配置 */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* 影の設定 */
}

.post-btn-icon {
  width: 70%;
  height: auto; /* アイコンの高さを自動調整 */
}

/* 飛行機のスタイル */
.jump-btn {
  width: 150px;
  height: 150px; /* ボタンの高さを幅と同じに設定 */
  bottom: 100px;
  right: 15px;
  position: fixed;
  padding: 15px;
  box-sizing: border-box; /* パディングがボタンのサイズに含まれるようにする */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: none; */
}
