/* 投稿ボタンのスタイル */
.post-btn {
  width: 120px;
  height: 120px; /* ボタンの高さを幅と同じに設定 */
  background: #343434;
  text-align: center;
  border-radius: 30%; /* 50% で真円になります */
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-sizing: border-box; /* パディングがボタンのサイズに含まれるようにする */
  display: flex; /* 子要素を中央に配置するためにフレックスボックスを使用 */
  flex-direction: column; /* 子要素を縦方向に配置する */
  align-items: center; /* 横方向に中央に配置 */
  justify-content: center; /* 縦方向に中央に配置 */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* 影の設定 */
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 15px;
  text-decoration: none;
  margin-top: 10px; /* イメージとの間に適切なマージンを追加 */
}

.post-btn-icon {
  width: 60%;
  height: auto; /* アイコンの高さを自動調整 */
}

/* 飛行機のスタイル */
.jump-btn {
  width: 150px;
  height: 150px; /* ボタンの高さを幅と同じに設定 */
  bottom: 120px;
  right: 20px;
  position: fixed;
  padding: 15px;
  box-sizing: border-box; /* パディングがボタンのサイズに含まれるようにする */
  display: flex; /* 子要素を中央に配置するためにフレックスボックスを使用 */
  flex-direction: column; /* 子要素を縦方向に配置する */
  align-items: center; /* 横方向に中央に配置 */
  justify-content: center; /* 縦方向に中央に配置 */
}
